<div class="form">
  <h1>X-Ray Study Notes</h1>
  <table>
  <tbody>
    <tr><td class="obs-note-label">Patient Name: </td><td>{{ngDialogData.bahmniOrder.patientName}}</td></tr>
    <tr><td class="obs-note-label">Patient Age / DOB: </td><td>{{ngDialogData.bahmniOrder.patientBirthDate | bahmniDate }} ({{getAgeYears(ngDialogData.bahmniOrder.patientBirthDate)}} Years)</td></tr>
    <tr><td class="obs-note-label">Patient id: </td><td>{{ngDialogData.bahmniOrder.patientid}}</td></tr>
    <tr ng-if="ngDialogData.bahmniOrder.studyUid">
      <td class="obs-note-label">Study Accession Number: </td><td>{{ngDialogData.bahmniOrder.accessionNumber}}</td>
    </tr>
    <tr>
      <td class="obs-note-label">Order Time: </td>
      <td>{{ngDialogData.bahmniOrder.orderDate | bahmniDateTime}}</td>
    </tr>
    <tr><td class="obs-note-label">Provider: </td><td>{{ngDialogData.bahmniOrder.provider}}</td></tr>
    <tr ng-if="ngDialogData.bahmniOrder.seriesCount > 1">
      <td colspan="2" class="obs-note-notice">This study contains {{ngDialogData.bahmniOrder.seriesCount}} images.</td>
    </tr>
    <tr>
      <td colspan="2">
        <a ng-if="ngDialogData.bahmniOrder.patientUuid" class="obs-note-link" target="PatientDashboardWindow" href="{{ngDialogData.bahmniOrder.dashboardUrl}}">Link to patient dashboard</a>
        <a ng-if="ngDialogData.bahmniOrder.studyUid" class="obs-note-link" target="PatientXrayWindow" href="{{ngDialogData.bahmniOrder.imageUrl}}">Link to X-Ray</a>
      </td>
    </tr>
  </tbody>
  </table>
  <div ng-if="ngDialogData.bahmniOrder.patientUuid && ngDialogData.bahmniOrder.fulfillerComment">
    <div class="obs-note-block-label">Provider Note:</div>
    <div class="obs-note-comment">
      <pre>{{ngDialogData.bahmniOrder.fulfillerComment}}</pre>
    </div>
  </div>
  <div ng-if="ngDialogData.bahmniOrder.obs && ngDialogData.bahmniOrder.obs.length > 0">
    <div class="obs-note-block-label">Radiology Notes:</div>
    <div class="obs-note-group" ng-repeat="obs in ngDialogData.bahmniOrder.obs | orderBy:'obsNoteDatetime'">
      <div class="obs-note-info">{{obs.obsProvider}} – {{obs.obsNoteDatetime | bahmniDateTime}}</div>
      <div class="obs-note-note">{{obs.obsNote}}</div>
    </div>
  </div>
  <div ng-if="canEditNote && ngDialogData.bahmniOrder.patientUuid && ngDialogData.bahmniOrder.studyUid">
    <div class="obs-note-block-label">Add Radiologist Note:</div>
    <div class="form-field">
      <div class="field-value">
        <textarea id="obs-note" ng-model="ngDialogData.textarea"></textarea>
      </div>
      <div class="dialog-button-group">
        <button id="obs-note-cancel" class="secondary-button ng-binding" ng-click="closeConfirmObsDialog(ngDialogData.bahmniOrder, ngDialogData.textarea)">Close</button>
        <button ng-disabled="ngDialogData.textarea.length == 0" id="obs-note-save" class="secondary-button ng-binding" ng-click="saveObsDialog(ngDialogData)">Save</button>
      </div>
    </div>
  </div>
  <!--<div ng-if="!canEditNote">
    <div class="obs-note-block-label">Radiology Note:</div>
    <div class="obs-note-comment">
      <pre>{{ngDialogData.textarea}}</pre>
    </div>
  </div>-->
  <div ng-if="!canEditNote || !ngDialogData.bahmniOrder.patientUuid || !ngDialogData.bahmniOrder.studyUid">
    <div ng-if="!ngDialogData.bahmniOrder.patientUuid" class="obs-note-warning">Patient is not registered</div>
    <div ng-if="!ngDialogData.bahmniOrder.studyUid" class="obs-note-warning">Order not yet fulfilled</div>
    <div class="dialog-button-group">
      <button id="obs-note-cancel" class="secondary-button ng-binding" ng-click="closeObsDialog()">Close</button>
    </div>
  </div>
</div>