<div>
    <div>
        <button ng-if="refreshButton" ng-click="updateOrders()">Refresh</button>
    </div>
    <div>
        <table class="radiology-review-table">
            <tr>
                <th></th>
                <th>Patient Name</th>
                <th>Patient ID</th>
                <th>Accession #</th>
                <th>Type</th>
                <th>Provider</th>
                <th>Date &amp; Time</th>
            </tr>
            <tr class="link" ng-repeat="pacsOrder in pacsOrders" ng-click="openObsDialog(pacsOrder)">
                <td>
                    <span ng-if="!pacsOrder.studyUid">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
                    <span ng-if="pacsOrder.studyUid">
                        <i class="fa fa-file-text-o" aria-hidden="true" ng-if="pacsOrder.obs && pacsOrder.obs.length > 0"></i>
                    </span>
                </td>
                <td>{{pacsOrder.patientName | titleCase}}</td>
                <td>{{pacsOrder.patientid}}</td>
                <td>{{pacsOrder.accessionNumber}}</td>
                <td>{{pacsOrder.label}}</td>
                <td><span class="provider-name fl">{{pacsOrder.provider}}</span></td>
                <td><span class="provider-date fr">{{pacsOrder.studyDate || pacsOrder.orderDate | bahmniDateTime }}</span></td>
            </tr>
        </table>
    </div>
</div>
