<form name="criteriaSearchForm" ng-submit="submitCriteria()">
    <h1>Criteria</h1>
    <div ng-repeat="row in conditions" class="criteria-form-row" style="display:block;height:35px;">
        <!-- Each row has a condition select dropdown along with the inputs associated with the condition type -->
        <select ng-change="update_row(row)" ng-model="row.condition_type" title="Condition" ng-options="key as value for (key, value) in all_criteria | unused_criteria:conditions:row.condition_type" class="ng-pristine ng-invalid ng-invalid-required ng-touched"><option value="">- Please Choose -</option></select>

        <div ng-if="row.condition_type == 'name'">
            <select ng-model="row.name_type" title="Name Type" class="ng-pristine ng-invalid ng-invalid-required ng-touched"><option value="firstname">Firstname</option><option value="any">Any</option></select>
            <input ng-model="row.name" title="Name" placeholder="Enter Name" class="ng-pristine ng-invalid ng-invalid-required ng-touched" />
        </div>

        <div ng-if="row.condition_type == 'age'">
            <span>from:</span><input ng-model="row.age_from" title="Age From:" class="ng-pristine ng-invalid ng-invalid-required ng-touched" />
            <span>to:</span><input ng-model="row.age_to" title="Age To:" class="ng-pristine ng-invalid ng-invalid-required ng-touched" />
        </div>

        <div ng-if="row.condition_type == 'gender'">
            <select ng-model="row.gender" title="Gender" class="ng-pristine ng-invalid ng-invalid-required ng-touched"><option value="">- Select -</option><option value="male">Male</option><option value="female">Female</option></select>
        </div>

        <div ng-if="row.condition_type == 'id'">
            <select ng-model="row.id_type" title="Id Type" class="ng-pristine ng-invalid ng-invalid-required ng-touched">
                <option value="any">Any</option>
                <option ng-repeat="(uuid, id_type) in id_types" value="{{uuid}}">{{id_type}}</option>
            </select>
            <input ng-model="row.id" title="Id" placeholder="" class="ng-pristine ng-invalid ng-invalid-required ng-touched" />
        </div>

        <div ng-if="row.condition_type == 'address'">
            <input ng-model="row.address" title="Address" placeholder="" class="ng-pristine ng-invalid ng-invalid-required ng-touched" />
        </div>

        <div ng-if="row.condition_type == 'visit_date'">
            <span>from:</span>
            <input ng-model="row.visit_date_from" type="date" title="Date From" max="{{::today}}" class="ng-pristine ng-invalid ng-invalid-required ng-touched" />
            <span>to:</span><input ng-model="row.visit_date_to" type="date" title="Date To" max="{{::today}}" class="ng-pristine ng-invalid ng-invalid-required ng-touched" />
        </div>

        <div ng-if="row.condition_type == 'provider'">
            <select ng-model="row.provider" title="Provider" ng-options="uuid as provider for (uuid, provider) in providers" class="ng-pristine ng-invalid ng-invalid-required ng-touched"><option value="">- Please Choose -</option></select>
        </div>

        <div ng-if="row.condition_type == 'diag'">
            <input ng-model="row.diag_name" id="diag" title="Diagnosis" type="text" name="name" 
            bahmni-autocomplete source="getDiagnosis" on-select="assignUuid"
             ng-class="{ illegalValue: (row.diag_name && (row.diag_name != row.diag_concept.name || !row.diag_concept.uuid)) }" placeholder="Enter Diagnosis">
        </div>

    </div>
    <button type="submit" ng-disabled="conditions.length == 1" class="ng-binding" disabled="disabled">
        <i class="fa fa-search"></i>Search
    </button>
</form>