<section class="dashboard-section ng-scope pacs">
    <h2 class="section-title">{{::section | titleTranslate}}</h2>
    <div>
        <section ng-hide="noOrdersMessage">
            <table class="dashboard-table pacs" show-more>
                <tbody ng-repeat="pacsOrder in pacsOrders" class="row">
                    <tr class="view-past"
                        ng-class="::{'test-notes-parent': pacsOrder.obs && pacsOrder.obs.length > 0}">
                        <td class="actions pacs-shrink">
                            <i class="fa fa-clock-o" aria-hidden="true" ng-if="!pacsOrder.studyUid"></i>
                            <a ng-if="! pacsOrder.studyUid" ng-click="deleteConfirm(pacsOrder)" class="order-delete"
                                target="_blank">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            <span ng-if="pacsOrder.seriesCount > 1">x{{pacsOrder.seriesCount}}</span>
                            <!--<i class="fa fa-file-text-o" aria-hidden="true" ng-if="pacsOrder.obsNote"></i>-->
                            <i class="fa fa-comments" aria-hidden="true"
                                ng-if="pacsOrder.obs && pacsOrder.obs.length > 0"></i>
                        </td>
                        <td class="name pacs-expand" ng-if="pacsOrder.studyUid">
                            <a target="_blank" href="{{pacsOrder.imageUrl}}">{{ (pacsOrder.label.length > 25) ?
                                (pacsOrder.label.substring(0,22)) + '...' : (pacsOrder.label) }}</a>
                        </td>
                        <td class="name pacs-expand" ng-if="!pacsOrder.studyUid">
                            {{pacsOrder.label}}
                        </td>
                        <td class="accession-number pacs-shrink">
                            {{pacsOrder.accessionNumber}}
                        </td>
                        <td class="provider-name pacs-shrink">
                            {{pacsOrder.provider}}
                        </td>
                        <td class="provider-date pacs-shrink">
                            {{pacsOrder.studyDate || pacsOrder.orderDate | bahmniDateTime }}
                        </td>
                    </tr>
                    <tr class="notes-open pacs-note"
                        ng-repeat-start="obs in pacsOrder.obs | orderBy:'obsNoteDatetime'">
                        <td colspan="5">
                            <span class="toggle-btn" toggle="obs.showDetails">
                                <button class="toggle fr">
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </span>
                            <div>
                                <pre>{{obs.obsNote}}</pre>
                            </div>
                        </td>
                    </tr>
                    <tr bm-show="obs.showDetails" class="notes-open pacs-note-provider" ng-repeat-end>
                        <td colspan="5">
                            {{obs.obsProvider}} {{obs.obsNoteDatetime | bahmniDateTime }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div ng-show="noOrdersMessage">
            <div class="placeholder-text">
                <p translate="DISPLAY_CONTROL_ERROR_MESSAGE_KEY"
                    translate-values="{displayControl : '{{noOrdersMessage}}'}"></p>
            </div>
        </div>
    </div>
</section>